In [2]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from collections import Counter

C:\Users\kittu\AppData\Roaming\Python\Python36\site-packages\pandas\compat\_optional.py:106: UserWarning: Pandas requires version '1.2.1' or newer of 'bottleneck' (version '1.2.0' currently installed).
  warnings.warn(msg, UserWarning)

In [3]:
data=pd.read_csv('C:/Users/kittu/Desktop/Kittu/My home corona/Datamites class work/Data sets/car_evaluation.csv')
data.head(3)

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc

In [4]:
Counter(data.outcome)

Counter({'acc': 384, 'good': 69, 'unacc': 1210, 'vgood': 65})

In [6]:
data.shape

(1728, 7)

In [7]:
data.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [8]:
X=data.iloc[:,:-1]
X.head()

  buying  maint  doors  persons lug_boot safety
0  vhigh  vhigh      2        2    small    low
1  vhigh  vhigh      2        2    small    med
2  vhigh  vhigh      2        2    small   high
3  vhigh  vhigh      2        2      med    low
4  vhigh  vhigh      2        2      med    med

In [9]:
y=data.outcome

In [10]:
enc=LabelEncoder()
X.buying=enc.fit_transform(X.buying)
X.maint=enc.fit_transform(X.maint)
X.lug_boot=enc.fit_transform(X.lug_boot)
X.safety=enc.fit_transform(X.safety)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=10)
model=KNeighborsClassifier(n_neighbors=5)
model.fit(X_train,y_train)
y_predict=model.predict(X_test)

In [12]:
accuracy_score(y_test,y_predict)

0.9421296296296297

In [13]:
print(Counter(y_test))
pd.crosstab(y_test,y_predict)

Counter({'unacc': 307, 'acc': 84, 'vgood': 22, 'good': 19})

col_0    acc  good  unacc  vgood
outcome
acc       77     1      6      0
good       5    14      0      0
unacc      3     0    304      0
vgood      7     2      1     12

# Hyperparameters tuning

In [14]:
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
# define models and parameters
model = KNeighborsClassifier()
n_neighbors = range(1, 21, 2)
weights = ['uniform', 'distance']
metric = ['euclidean', 'manhattan', 'minkowski']
# define grid search
grid = dict(n_neighbors=n_neighbors,weights=weights,metric=metric)
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
grid_search = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, cv=cv, scoring='accuracy',error_score=0)
grid_result = grid_search.fit(X_train, y_train)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

Best: 0.931572 using {'metric': 'manhattan', 'n_neighbors': 7, 'weights': 'distance'}

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=10)
model=KNeighborsClassifier(n_neighbors=7,metric='manhattan',weights='distance')
model.fit(X_train,y_train)
y_predict=model.predict(X_test)

In [ ]:
accuracy_score(y_test,y_predict)

In [ ]:
print(Counter(y_test))
pd.crosstab(y_test,y_predict)