In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier

In [3]:
data=pd.read_csv('C:/Users/Admin/Desktop/Kittu/car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [4]:
data.shape

(1728, 7)

In [6]:
X=data.iloc[:,:-1]
y=data.outcome

In [7]:
enc=LabelEncoder()
X.buying=enc.fit_transform(X.buying)
X.maint=enc.fit_transform(X.maint)
X.lug_boot=enc.fit_transform(X.lug_boot)
X.safety=enc.fit_transform(X.safety)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [ ]:
#from sklearn.preprocessing import scale, standardScaler

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=10)

In [19]:
model=MLPClassifier(hidden_layer_sizes=(50,50),max_iter=300,random_state=10)
model.fit(X_train,y_train)
y_predict=model.predict(X_test)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (300) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [20]:
accuracy_score(y_test,y_predict)

0.9907407407407407

In [21]:
pd.crosstab(y_test,y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       83     1      0      0
good       0    18      0      1
unacc      1     0    306      0
vgood      1     0      0     21