In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix

In [2]:
    cars=pd.read_csv('C:/Users/Admin/Desktop/Kittu/mtcars.csv')
    cars.head(3)

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [3]:
cars.isnull().sum()

car_model    0
mpg          0
cyl          0
disp         0
hp           0
drat         0
wt           0
qsec         0
vs           0
am           0
gear         0
carb         0
dtype: int64

In [4]:
#define X and y
#car is automatic or manual as the target/y/outcome/response/dependent
#mpg,hp,wt as the independent variable/dimensions/features/predictors
X=cars.loc[:,['mpg','hp','wt']]
y=cars.am

In [5]:
#train-test split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=13)

In [6]:
X_train.shape

(22, 3)

In [7]:
X_test.shape

(10, 3)

In [8]:
#define the model
model=LogisticRegression()
model.fit(X_train,y_train)#training
y_predict=model.predict(X_test)#prediction

In [9]:
accuracy_score(y_test,y_predict)

0.6

In [10]:
y_test

22    0
7     0
8     0
24    0
31    1
1     1
28    1
17    1
27    1
15    0
Name: am, dtype: int64

In [11]:
y_predict

array([0, 1, 1, 0, 0, 0, 1, 1, 1, 0], dtype=int64)

In [12]:
confusion_matrix(y_test,y_predict)

array([[3, 2],
       [2, 3]], dtype=int64)

In [16]:
pd.crosstab(y_test,y_predict)

col_0  0  1
am
0      3  2
1      2  3